/* ヘッダー部分の CSS */
.header {
    width: 1512px;
    height: 99px;
    background: #FFFFFF;
}

.header__logo {
    width: 1512px;
    height: 100px;
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52.12px;
    text-align: center;
    background: #8B7969;
}